<div>
    <div class="title-container">
        <label class="title-algorithmtech">算法师</label>
        <label class="title-subhead">用算法推导世界</label>
        <div class="float-right">
            <label class="title-nav">主页</label>
            <label class="title-nav">来信</label>
        </div>
    </div>
</div>