<div style="margin-top:10px;">
    <input type="text" id="search" />
    <a href="javascript:void(0);" class="float-right btn-background btn" id="btnAdd">
        <span class="icon icon-add"></span>
        新增
    </a>
    <a href="javascript:void(0);" class="float-right btn-background btn" id="btnModify">
        <span class="icon icon-modify"></span>
        修改
    </a>
    <a href="javascript:void(0);" class="float-right btn-background btn" id="btnDelete">
        <span class="icon icon-del"></span>
        删除
    </a>
    <div style="clear:both"></div>
</div>
