<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    注意: 应在 App.config 文件中添加条目，以获取仅适用于
    测试项目的配置设置。
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.; UID=sa; PWD=1234-abcd; MultipleActiveResultSets=True;" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
